a{
    text-decoration: none;
    color:white;
  }
  h4{
    color:white;
  }
  
.btn-transparent {
    background-color: #222529;
    border: none; /* Supprimer la bordure */
}
.right-yellow {
color: yellow;
padding: 10px;

}
.right-yellow-container {
position: fixed;
bottom: 0;
right: 0;
display: flex;
flex-direction: row;
margin:10px;
}
.styled-link-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.checkboxes {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  
  display: flex;
  align-items: center;
}
.checkbox  {
  padding-right: 5em;
  display: inline-block;
  cursor: pointer;
}